---
import Section from "@/components/Section.astro"
import { education } from "@/cv.json";
---

<Section title="Educacion">
  <ul>
    {
      education.map((institucion) => (
        <li class="detalles">
          <span>
            <h3>{institucion.institution}</h3>
            <p class="content"><strong>Área:</strong> {institucion.area}</p>
            <p class="content"><strong>Título:</strong> {institucion.studyType}</p>
            <p class="content"><strong>Duración:</strong> {institucion.startDate} - {institucion.endDate}</p>
            <a href={institucion.url}>Ver institución</a>
          </span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .detalles {
    padding: 10px;
    border-radius: 10px;
  }

  .content {
    margin: 0;
  }
</style>
